<div class="container">

    


    <h1>SIGNAL</h1>

    
    <!-- <p>Change</p>
    <input type="text" [value]="name()" (change)="changeInput($event)">
    <p>{{ name() }}</p>


    <ul>
        <p>total : {{ tasks().length }}</p>
        <li *ngFor="let task of tasks(); index as i">
          {{ i }}  {{task}}
        </li>
      </ul>

    <div *ngIf="name() === 'alvaro'; else elseBlock">My ngIF block</div>
    <ng-template #elseBlock>
      My else
    </ng-template> -->

    <!-- <input type="text" [value]="person().name" (change)="changeName($event)">

    <div [ngSwitch]="person().name">
      <p *ngSwitchCase="'alvaro'"> yo soy alvaro</p>
      <p *ngSwitchCase="'ana'"> yo soy ana</p>
      <p *ngSwitchDefault> this one is default valuer</p>
            
    </div> -->

    <input type="color" [formControl]="colorCtrl">
    <p>color: {{ colorCtrl.value }}</p>

    <svg>
      <g>
        <rect x="0" y="0" height="100" width= "100" [attr.fill]="colorCtrl.value"/>
      </g>
    </svg>
    <hr/>

    <input type="number" [formControl]="widthCtrl">
    <span class="box" [style.width.px]="widthCtrl.value"></span>

    <hr/>
    <p>
      <input type="text" [formControl]="nameCtrl"/> <br/>
      <span class="message-error" [class.show]="nameCtrl.invalid
       && nameCtrl.touched">Invalid name</span><br/>

       <input type="text" [formControl]="nameCtrl"/> 
    </p>

</div>


